---
import BaseLayout from '../layouts/BaseLayout.astro';
let pageTitle = "Home";
---

<BaseLayout>
	<main>
	<h1>Welcome!</h1>
	<p>This is the daily sponge updated!</p>
	<p>Ok</p>
	</main>
</BaseLayout>